.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin: 5px;    
    padding-bottom: 5px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.content-part{
    margin-left: 20px;
}
.cart-btn{
    background-color: goldenrod;
    height: 25px;
    width: 150px;
    border-color: gold;
    border-radius: 3px;
    
}
